.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 10px solid rgba(220, 20, 1);
}

.recovered {
  border-bottom: 10px solid rgba(30, 130, 70);
}

.deaths {
  border-bottom: 10px solid rgba(0, 0, 0, 0.5);
}
